.home {
  height: 100vh;
  width: 100vw;
  background-color: #344151;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
   background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); 
  
}
.title{
  color: #05597a;
  font-size:26px;
  font-weight:bold ;
}
.counter-main{
  width: 10rem;
  height: 2.5rem;
  background-color: white;
  display: flex;
  justify-content:space-around;
  padding:3px;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  /* box shadow */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.minus, .plus{
  cursor: pointer;
  background-color: white;
  border-right: 1px;
  font-size: 2rem;
  border: none;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.minus{
  border-right: 1px solid gray ;
  padding-right: 15px;
}
.plus{
  border-left: 1px solid gray;
  padding-left: 12px;
}
.counter{
  font-weight: bold;
  font-size: 1.8rem;
}
  

.reset {
  border: none;
  background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
  margin: 10px;
      padding: 12px 22px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 7px;
      cursor: pointer;
    }

  .reset:hover {
    background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
  }
